.newsfeed{





    display: grid;
    margin-top: -20vh;



}




.news{
    width: 20vw;
    height: 35vh;
    font-size: 4vmax;

    border: solid black 5px;
    box-shadow: 4px 10px 20px 1px rgba(5, 5, 206, 0.4);
    border-radius: 3%;


    background-color: rgba(136, 136, 136, 1);
    margin-right: 6vw;
    margin-left: -6vw;
    grid-area: 1/1;
    margin-top: 11vh;
    margin-bottom: -20vh;


}


.reels{
    width: 20vw;
    height: 35vh;
    border: solid black 5px;
    box-shadow: 4px 10px 20px 1px rgba(5, 5, 206, 0.4);
    background-color: rgba(136, 136, 136, 1);
    border-radius: 3%;




    grid-area: 2/2;

    margin-top: 5vh;
    margin-bottom: -5vh;
    margin-left: -23vw;


}



