.heading{
    width: 16vw;
    height: 8vh;
    display: flex;
    justify-content: center;





    border-radius: 8vw;
    background-color: #000;
    margin-top: 2vh;
    margin-bottom: -13vh;
    margin-left: 18vw;
    box-shadow: 4px 10px 20px 1px rgba(5, 5, 206, 0.4);



}


.title{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 5vh;
    text-align: center;
    margin-top: 1vh;

}

.feedGif{
    width: 2.5vw;
    height: 5vh;
    border-radius: 1vw;
    filter: invert();
    margin-left: 1vw;
    margin-bottom: -0.4vh;

}
