body{
  background-color: #282c34;
}

.App {
  border: solid black 10px;
  display: grid;
  margin-top: 3vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table{
  background-color: gray;
  width: 50vw;
  height: 60vh;
  margin-left: 25vw;
  margin-top: 12vh;
  margin-bottom: 12vh;
}


.one{
  background-color: rgba(0, 0, 0, 0.4);
  border: solid black 1px;
  width: 40vw;
  height: 60vh;

  margin-left: 10vw;
  margin-top: -80VH;

}

.two{
  background-color: rgba(0, 0, 0, 0.4);
  border: solid black 1px;
  width: 40vw;
  height: 60vh;

  margin-left: 48vw;
  margin-top: -55vh;
  margin-bottom: 3vh;

}
